<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form action="api/users/login" method="post">
    <mat-form-field>
      <input matInput name="username" placeholder="login" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" placeholder="pasword" autocomplete="off">
    </mat-form-field>
    <button mat-raised-button color="primary">Log in</button>
  </form>
</div>
<router-outlet></router-outlet>
