<mat-card>
  <form #form="ngForm" (ngSubmit)="submitForm()">
    <h2 class="mat-title">Register</h2>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput name="username" placeholder="Login" autocomplete="off" [(ngModel)]="login" #loginModel="ngModel" required>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput name="password" placeholder="Pasword" autocomplete="off" [(ngModel)]="password" #passwordModel="ngModel" (keyup)="onChange()" required>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput name="password2" placeholder="Repeat pasword" autocomplete="off" [(ngModel)]="password2" #passwordModel2="ngModel" (keyup)="onChange()" required>
    </mat-form-field>
    <div *ngIf="errorMsg">
      {{ errorMsg }}
    </div>  
    <button mat-raised-button color="primary">Register account</button>
  </form>
</mat-card>