mat-card {
    width: 16rem;
    height: auto;

    form {
        display: flex;
        flex-direction: column;

        div {
            color: red;
            margin-top: 10px;
        }
    }

    a {
        color: white;
        margin-top: 10px;
    }
}